.chatWrapper {
  height: 100vh;
}

.chatContainer {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  .messageContainer {
    overflow-y: auto;
    padding-right: 6px;
  }
}

/* BYZKIDS branding overrides */
.chatWrapper {
  &::before,
  &::after {
    display: none !important;
    content: none !important;
    background: none !important;
  }
}

